# Cấu hình Cổng máy chủ
PORT=5000

# Khóa bí mật mã hóa JWT
JWT_SECRET=aura-fashion-group4-ptpmmnm-secret-key-2026

# Cấu hình SMTP gửi Email thực tế (Nếu để trống, hệ thống tự động kích hoạt tài khoản thử nghiệm Ethereal Mail)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_app_password
# SMTP_FROM=AURA FASHION <no-reply@aurafashion.vn>
